.headerArea {
    margin-top: 40px;
    padding: 16px 24px;
    z-index: 10;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 28px;
    align-items: center;
}

.timerBar {
    margin-top: 40px;
    width: 100%;
    height: 20px;
    background-color: var(--primary-light);
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timerBarFill {
  height: 100%;
  background-color: var(--primary-dark);
  border-radius: 20px;
  transition: width 0.3s ease;
}

.timerCircle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--primary-main);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  border: 4px solid var(--app-bg);
  box-shadow: var(--shadow-2);
}

.pauseButton {
  position: absolute;
  right: 12px;
  top: 0;
  background: none;
  border: none;
  color: var(--text-secondary);
  cursor: pointer;
}

.promptChip {
    width: fit-content;
    background-color: var(--primary-light);
    color: var(--primary-main);
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 20px;
}