/* ... (handContainer, cardsWrapper styles remain the same) */
.handContainer {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  height: 200px;
  display: flex;
  z-index: 5;
  pointer-events: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.handContainer::-webkit-scrollbar { 
  display: none;
}

.cardsWrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto;
  padding-left: 40px; 
  padding-right: 40px;
  padding-bottom: 20px;
  pointer-events: auto;
  width: max-content;
  min-width: 100%;
  box-sizing: border-box;
}

.animWrapper {
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
  
  width: 150px;
  height: 190px;
  
  transform-origin: bottom center;
}

.entering {
  animation: drawCard 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) backwards;
}

@keyframes drawCard {
  0% {
    opacity: 0;
    transform: translate(-200px, 200px) scale(0.1) rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
}

.exiting {
  animation: discardCard 0.4s ease-in forwards;
}

@keyframes discardCard {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(200px, 200px) scale(0.1) rotate(45deg);
  }
}