.handContainer {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  z-index: 5;
  pointer-events: none;
}