.canvasArea {
    height: 220px;
    grid-row: 3;
    padding: 24px;
    transition: background-color 0.2s ease;
    position: relative;
}

.canvasContent {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* This element will have its layout controlled by `contentStyle` in JS */
}

.droppableHover {
  background-color: var(--primary-light);
}

.playerCanvas {
    position: absolute;
    left: 50%;
    top: 32px;
    transform: translateX(-50%);

    width: 200px;
    height: 200px;
    outline: 2px solid var(--primary-light);
    box-sizing: border-box;

    transition: all 0.3s ease-in-out;
}

.corner {
    position: absolute;
    background: var(--surface-color);
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-light);
}
.corner:nth-child(1) {
    left: -10px;
    top: -10px;
}
.corner:nth-child(2) {
    right: -10px;
    top: -10px;
}
.corner:nth-child(3) {
    right: -10px;
    bottom: -10px;
}
.corner:nth-child(4) {
    left: -10px;
    bottom: -10px;
}